*, :hover {
  cursor: url("https://i.imgur.com/iT5NTjQ.png?1"), auto !important;
}

.text-border {
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.2), -1px 0 0 rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2), 0 -1px 0 rgba(0, 0, 0, 0.2), 1px 1px rgba(0, 0, 0, 0.2), -1px -1px 0 rgba(0, 0, 0, 0.2), 1px -1px 0 rgba(0, 0, 0, 0.2), -1px 1px 0 rgba(0, 0, 0, 0.2);
}

/* --- Brand --- */

nav {
  position: fixed !important;
  top: 0;
  left: 0;
}

/* --- Title --- */

#title span { display: inline-block; }

#title span:nth-of-type(22) { animation-delay: 1s; }
#title span:nth-of-type(21) { animation-delay: 1.05s; }
#title span:nth-of-type(20) { animation-delay: 1.10s; }
#title span:nth-of-type(19) { animation-delay: 1.15s; }
#title span:nth-of-type(18) { animation-delay: 1.20s; }
#title span:nth-of-type(17) { animation-delay: 1.25s; }
#title span:nth-of-type(16) { animation-delay: 1.30s; }
#title span:nth-of-type(15) { animation-delay: 1.35s; }
#title span:nth-of-type(14) { animation-delay: 1.40s; }
#title span:nth-of-type(13) { animation-delay: 1.45s; }
#title span:nth-of-type(12) { animation-delay: 1.50s; }
#title span:nth-of-type(11) { animation-delay: 1.55s; }
#title span:nth-of-type(10) { animation-delay: 1.60s; }
#title span:nth-of-type(9) { animation-delay: 1.65s; }
#title span:nth-of-type(8) { animation-delay: 1.70s; }
#title span:nth-of-type(7) { animation-delay: 1.40s; }
#title span:nth-of-type(6) { animation-delay: 1.45s; }
#title span:nth-of-type(5) { animation-delay: 1.50s; }
#title span:nth-of-type(4) { animation-delay: 1.55s; }
#title span:nth-of-type(3) { animation-delay: 1.60s; }
#title span:nth-of-type(2) { animation-delay: 1.65s; }
#title span:nth-of-type(1) { animation-delay: 1.70s; }

#title span {
  font-family: 'Times New Roman', Times, serif;
  opacity: 0;
  color: #f57e00;
  animation: sideSlide 1.5s forwards;
  animation-delay: 2s;
}

@keyframes sideSlide {
  60% {
    opacity: 0.5;
    color: #f57e00;
  }

  90% {
    opacity: 0.5;
  }
  
  99% {
    opacity: 1;
    color: whitesmoke;
  }

  100% {
    opacity: 1;
    color: #fff;
  }
}

.nav-link:focus {
  outline: none !important;
}

#title {
  font-size: clamp(35px, 6vw, 85px);
  margin-bottom: 2vw;
  text-shadow: 2px 0 20px whitesmoke, -2px 0 0 #f57e00, 0 2px 0 #f57e00, 0 -2px 0 #f57e00, 1px 1px #f57e00, -1px -1px 0 #f57e00, 1px -1px 0 #f57e00, -1px 1px 0 #f57e00;
}

.typewriterBorder {
  text-shadow: 1px 0 0 #f57e00, -1px 0 0 #f57e00, 0 1px 0 #f57e00, 0 -1px 0 #f57e00, 1px 1px #f57e00, -1px -1px 0 #f57e00, 1px -1px 0 #f57e00, -1px 1px 0 #f57e00;
}

.Typewriter {
  opacity: 0;
  animation: appear 0.1s linear forwards;
  animation-delay: 3.25s;
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}

/* --- Contact --- */

.btn-dark, .btn-dark:hover, .btn-dark.focus {
  color: transparent !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

#emailTooltip {
  filter: invert(100%);
}

.whiteIcon, .blackIcon {
  width: 80px;
  border-radius: 50%;
}

.whiteIcon:focus, .blackIcon:focus {
  border: none;
}

.whiteIcon { 
  background-color: black; 
}

.blackIcon { 
  border: 2px solid white;
  background-color: white 
}

/* --- Bio --- */

#backBtn {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 1rem;
  width: 7rem;;
  background: url("https://i.imgur.com/Mzq1wPn.png") no-repeat;
  background-size: contain;
  border: none;
  color: black;
  filter: invert(100%);
  z-index: 2;
}

#bio {
  z-index: 1;
  font-size: clamp(14px, 2vw, 25px);
  width: 100%;
  padding-left: 9vw !important;
  margin-bottom: 1rem;
  opacity: 0;
  animation: appear 1s linear forwards;
  animation-delay: 1s;
}

#fake-bg {
  background: url("https://i.imgur.com/XAaRPSN.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

#myImg2 {
  background: url("https://i.imgur.com/DZvfjL8.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  width: min(45vw, 700px);
  height: min(45vw, 700px);
  border: 4px solid #f6f4cd;
  border-radius: 50%;
  position: fixed;
  bottom: 4rem;
  left: 7rem;
  animation: toBackground 0.5s ease-out forwards;
  animation-delay: 0.5s;
}

@keyframes toBackground {
  0% {
    border: 4px solid #f6f4cd;
  }
  50% {
    border: 3px solid #f6f4cd;
  }
  100% {
    border: none;
    border-radius: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    bottom: 0vh;
    left: 0;
    z-index: -1;
  }
}

/* --- Me --- */

#myImg {
  color: #f6f4cd;
  background: url("https://i.imgur.com/DZvfjL8.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 170, 23, 0.5);
  background-blend-mode:lighten;
  width: min(45vw, 700px);
  height: min(45vw, 700px);
  border: 4px solid #f6f4cd;
  border-radius: 50%;
  font-size: min(4vw, 47.5px);
  position: absolute;
  bottom: 4rem;
  left: 7rem;
  z-index: 2;
  opacity: 0;
  animation: projected 1.5s ease-in-out forwards;
  animation-delay: 1s;
}

#myImg:hover {
  background-color: rgba(255, 255, 255, 0);
}

@keyframes projected {
  0% {
    opacity: 0;
    transform: translate(100vw, 0);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* --- Slideshow --- */

#slideShow {
  width: 100%;
  background-color: black;
  border: 1px solid #555;
  opacity: 0;
  animation: appear 1.5s linear forwards;
  animation-delay: 2s;
}

.carousel-item > div {
  opacity: 0;
}

.carousel-item > div:hover {
  opacity: 1;
}

.carousel-item > div > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-item > div > div > p {
  width: 70%;
  font-size: clamp(16px, 2.5vw, 40px);
  border-bottom: 1px solid white;
}

.carousel-item > div > div > h4 {
  font-size: clamp(14px, 2vw, 30px);
}

.carousel-item > div > div > h3 {
  font-size: clamp(25px, 4vw, 80px);
}

.carousel-indicators {
  margin: 0 !important;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-control-next, .carousel-control-prev {
  height: 55%;
  display: flex;
  align-items: flex-end !important;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  filter: invert(100%);
}

/* --- Body --- */

.bg, #darkness {
  position: absolute;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: initial;
  height: 100vh;
  z-index: -1;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  overflow: hidden;
}

#darkness {
  animation: light 2s ease-in-out forwards;
  width: 300%;
}

@keyframes light {
  37.5% {
    transform: translate(0);
  }
  100% {
    transform: translate(-300vw);
  }
}

.wrapper {
  height: 100%;
  overflow: hidden;
}

.contents {
  color: white;
  font-size: 50px;
  padding-left: 7vw !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

svg {
  position: fixed;
  width: max(65vh, 110vw);
  transform: translate(55vw, -65vw);
  z-index: 0;
  stroke-dasharray: 25;
  stroke-dashoffset: 25;
  animation: draw 1.5s ease-in forwards;
  animation-delay: 0.5s;
}

@keyframes draw { to { stroke-dashoffset: 50; } }

#galaxyImg {
  margin: 3vh 5vw 0 0;
  width: min(40vw, 80vh);
  height: min(40vw, 80vh);
  object-fit: scale-down;
  z-index: 1;
  animation: spin-in 1.5s ease-in-out, spin 60s linear infinite;
}

@keyframes spin-in {
  0% {
    transform: translate(55rem, 0) rotate(0deg);
  }
  100% {
    transform: translate(0, 0) rotate(369deg);
  }
}

@keyframes spin { 
  100% { 
    transform:rotate(360deg); 
  } 
}

#galaxyMenu {
  list-style: none;
  line-height: 45px;
  padding-left: 1vw;
}

#galaxyMenu > li {
  font-size: min(5vw, 20px);
  text-align: start;
}

li > a:hover {
  text-decoration: none;
}

#sunIcon {
  padding-right: 7px !important;
  transform: scale(0.5);
  filter: grayscale(100%);
}

#earthIcon, #moonIcon, #neptuneIcon, #downIcon, #upIcon { 
  padding-right: 13px !important;
  padding-left: 7px;
  transform: scale(0.5);
  filter: grayscale(100%);
}

a > span {
  color: white;
  display: none;
}

.currentIcon > span {
  display: contents;
}

.currentIcon > img {
  transform: none !important;
  filter: none !important;
  animation: expands 0.25s ease-in forwards;
  margin-left: 2px;
}

@keyframes expands {
  100% { transform: scale(1) } 
}

/* --- @media screen --- */

@media screen and (max-width: 575px) {
  #galaxyImg {
    width: auto;
    margin: 5vw 10vw 0 0;
    height: max(30vw, 22vh);
  } 
  #galaxyMenu {
    direction: ltr;
  }
}
@media screen and (max-width: 991px) {
  #bio {
    background-color: rgba(65, 65, 65, 0.3);
    padding: 1rem !important;
  }
  @keyframes projected {
    0% {
      opacity: 0;
      transform: translate(80vw, -100vh);
    }
    60% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  #slideShow {
    margin-left: 5px;
    padding-left: 0.35rem;
    width: min(50vh, 94vw);
  }
  #myImg, #myImg2 {
    width: clamp(235px, 65vw, 445px);
    height: clamp(235px, 65vw, 445px);
    font-size: max(4vw, 20px);
    bottom: 0;
    left: 1.3rem;
  }
  .tabs {
    margin-left: 0;
  }
}

@media screen and (max-width: 1470px) {
  .contents {
    font-size: clamp(20px, 6vw, 45px);
    padding-left: 3vw !important;
  } 
}

@media screen and (min-height: 1365px) and (max-width: 1030px) {
  @keyframes projected {
    0% {
      opacity: 0;
      transform: translate(80vw, -100vh);
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  #slideShow {
    position: relative;
    left: 160px;
    top: 370px;
    width: 850px;
  }
  #myImg, #myImg2 {
    width: 650px;
    height: 650px;
  }
  #title {
    margin-top: 30rem;
    font-size: 70px;
  }
  .contents {
    font-size: 50px;
  }
}