/* --- Header --- */

.text-border {
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.2), -1px 0 0 rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2), 0 -1px 0 rgba(0, 0, 0, 0.2), 1px 1px rgba(0, 0, 0, 0.2), -1px -1px 0 rgba(0, 0, 0, 0.2), 1px -1px 0 rgba(0, 0, 0, 0.2), -1px 1px 0 rgba(0, 0, 0, 0.2);
}

.tabs {
  color: white !important;
  font-weight: bold;
  margin-left: 25px;
  border-bottom: 1px solid;
  width: 100px;
  text-align: center;
}

.tabs:hover {
  background: rgba(255, 255, 255, 0.3);
}

/* --- Title --- */

.animate span { display: inline-block; }

.animate span:nth-of-type(22) { animation-delay: 1s; }
.animate span:nth-of-type(21) { animation-delay: 1.05s; }
.animate span:nth-of-type(20) { animation-delay: 1.10s; }
.animate span:nth-of-type(19) { animation-delay: 1.15s; }
.animate span:nth-of-type(18) { animation-delay: 1.20s; }
.animate span:nth-of-type(17) { animation-delay: 1.25s; }
.animate span:nth-of-type(16) { animation-delay: 1.30s; }
.animate span:nth-of-type(15) { animation-delay: 1.35s; }
.animate span:nth-of-type(14) { animation-delay: 1.40s; }
.animate span:nth-of-type(13) { animation-delay: 1.45s; }
.animate span:nth-of-type(12) { animation-delay: 1.50s; }
.animate span:nth-of-type(11) { animation-delay: 1.55s; }
.animate span:nth-of-type(10) { animation-delay: 1.60s; }
.animate span:nth-of-type(9) { animation-delay: 1.65s; }
.animate span:nth-of-type(8) { animation-delay: 1.70s; }
.animate span:nth-of-type(7) { animation-delay: 1.40s; }
.animate span:nth-of-type(6) { animation-delay: 1.45s; }
.animate span:nth-of-type(5) { animation-delay: 1.50s; }
.animate span:nth-of-type(4) { animation-delay: 1.55s; }
.animate span:nth-of-type(3) { animation-delay: 1.60s; }
.animate span:nth-of-type(2) { animation-delay: 1.65s; }
.animate span:nth-of-type(1) { animation-delay: 1.70s; }

.three span {
  opacity: 0;
  color: #f57e00;
  animation: sideSlide 1.5s forwards;
  animation-delay: 2s;
}

@keyframes sideSlide {
  60% {
    opacity: 0.5;
    color: #f57e00;
  }

  90% {
    opacity: 0.5;
  }
  
  99% {
    opacity: 1;
    color: whitesmoke;
  }

  100% {
    opacity: 1;
    color: #fff;
  }
}

.nav-link:focus {
  outline: none !important;
}

#title {
  font-size: clamp(40px, 7vw, 90px);
  margin-bottom: 2vw;
  text-shadow: 2px 0 20px whitesmoke, -2px 0 0 #f57e00, 0 2px 0 #f57e00, 0 -2px 0 #f57e00, 1px 1px #f57e00, -1px -1px 0 #f57e00, 1px -1px 0 #f57e00, -1px 1px 0 #f57e00;
}

.typewriterBorder {
  text-shadow: 1px 0 0 #f57e00, -1px 0 0 #f57e00, 0 1px 0 #f57e00, 0 -1px 0 #f57e00, 1px 1px #f57e00, -1px -1px 0 #f57e00, 1px -1px 0 #f57e00, -1px 1px 0 #f57e00;
}

.Typewriter {
  opacity: 0;
  animation: appear 0.1s linear forwards;
  animation-delay: 3.5s;
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}

/* --- Me --- */

#myImg {
  color: #81d6ea;
  background: url(https://i.imgur.com/mteTq4g.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 170, 23, 0.4);
  background-blend-mode:lighten;
  width: min(45vw, 750px);
  height: min(45vw, 750px);
  border: none;
  border-radius: 50%;
  font-size: clamp(40px, 7vw, 90px);
  position: absolute;
  bottom: 6vh;
  left: 7rem;
  z-index: 2;
}

/* --- Slideshow --- */

#slideShow {
  width: 100%;
  background-color: black;
  padding-left: 0 !important;
  border: 1px solid #555;
}

.carousel-caption {
  padding-bottom: 0 !important;
}

.carousel-caption > div > h5 {
  font-size: clamp(20px, 2.5vw, 40px);
}

.carousel-indicators {
  margin-bottom: 0;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  filter: invert(100%);
}

/* --- Body --- */

.bg, #darkness {
  position: absolute;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: initial;
  height: 100vh;
  z-index: -1;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  overflow: hidden;
}

#darkness {
  animation: light 2s ease-in-out forwards;
  width: 300%;
}

@keyframes light {
  37.5% {
    transform: translate(0);
  }
  100% {
    transform: translate(-300vw);
  }
}

.wrapper {
  height: calc(100% - 90px);
  overflow: hidden;
}

.contents {
  color: white;
  font-size: 50px;
  padding-left: 7vw !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

svg {
  position: fixed;
  width: 100vw;
  transform: translate(76vw, -40px);
  z-index: 0;
  stroke-dasharray: 20;
  stroke-dashoffset: 20;
  animation: draw 1.5s ease-in forwards;
}

@keyframes draw { to { stroke-dashoffset: 40; } }

#galaxyImg {
  margin-right: 2vw;
  width: min(50vw, 700px);
  height: min(50vw, 700px);
  object-fit: scale-down;
  z-index: 1;
  animation: spin-in 1.5s ease-in-out, spin 60s linear infinite;
}

#galaxyImg:hover {
  animation-play-state: paused ;
}

@keyframes spin-in {
  0% {
    transform: translate(55rem, 0) rotate(0deg);
  }
  100% {
    transform: translate(0, 0) rotate(369deg);
  }
}

@keyframes spin { 
  100% { 
    transform:rotate(360deg); 
  } 
}

/* --- @media screen --- */

@media screen and (max-width: 991px) {
  .carousel-caption {
    padding-bottom: 25% !important;
  }
  .carousel-caption > div > h5 {
    font-size: 20px;
  }
  #slideShow {
    padding-left: 0.35rem;
    width: min(50vh, 94vw);
  }
  #myImg {
    width: clamp(235px, 65vw, 445px);
    height: clamp(235px, 65vw, 445px);
    bottom: 0;
    left: 1.3rem;
  }
  #galaxyImg {
    width: auto;
    height: min(90vw, 50vh);
  } 
  svg {
    width: 100vh;
    transform: translate(48vw, -47vw);
    stroke-dasharray: 22;
    stroke-dashoffset: 22;
  }
  .tabs {
    margin-left: 0;
  }
}

@media screen and (max-width: 1470px) {
  #galaxyImg {
    margin-right: 0;
  } 
  .contents {
    font-size: clamp(20px, 6vw, 45px);
    padding-left: 3vw !important;
  } 
}

@media screen and (min-height: 1365px) and (max-width: 1030px) {
  .carousel-caption {
    padding-bottom: 0.5rem !important;
  }
  .carousel-caption > div > h5 {
    font-size: 40px;
  }
  #slideShow {
    position: relative;
    left: 248px;
    top: 320px;
    width: 850px;
  }
  #myImg {
    width: 650px;
    height: 650px;
  }
  #title {
    margin-top: 30rem;
    font-size: 110px;
  }
  .contents {
    font-size: 50px;
  }
  #galaxyImg {
    margin-top: 5rem;
  }
}