.bg {
  position: absolute;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: initial;
  height: 100vh;
  z-index: -1;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
}

.content {
  height: calc(100% - 90px);
  overflow: hidden;
}

#title {
  font-size: clamp(40px, 7vw, 90px);
  margin-bottom: 2vw;
  text-shadow: 2px 0 20px whitesmoke, -2px 0 0 #f57e00, 0 2px 0 #f57e00, 0 -2px 0 #f57e00, 1px 1px #f57e00, -1px -1px 0 #f57e00, 1px -1px 0 #f57e00, -1px 1px 0 #f57e00;
}

.typewriter {
  color: white;
  font-size: 50px;
  padding-left: 7vw !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

svg {
  position: fixed;
  width: 100vw;
  transform: translate(76vw, -40px);
  z-index: 0;
  stroke-dasharray: 20;
  stroke-dashoffset: 20;
  animation: draw 3s linear forwards;
}

@keyframes draw { to { stroke-dashoffset: 0; } }

#galaxy-img {
  margin-right: 2vw;
  width: min(50vw, 700px);
  height: min(50vw, 700px);
  object-fit: scale-down;
  z-index: 1;
  -webkit-animation: spin 3s linear forwards;
  -moz-animation: spin 3s linear forwards;
  animation: spin 3s linear forwards;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@media screen and (max-width: 991px) {
  #galaxy-img {
    width: auto;
    height: min(90vw, 50vh);
  } 
  svg {
    width: 100vh;
    transform: translate(48vw, -47vw);
  }
  .tabs {
    margin-left: 10px;
  }
}

@media screen and (max-width: 1470px) {
  #galaxy-img {
    margin-right: 0;
  } 
  .typewriter {
    font-size: clamp(20px, 6vw, 45px);
    padding-left: 3vw !important;
  } 
}


/* -webkit-animation: up 3s linear forwards;
-moz-animation: up 3s linear forwards;
animation: up 3s linear forwards; */

@-moz-keyframes up { 0% { top:500px; } 100% { top: 0px; } }
@-webkit-keyframes up { 0% { top:500px; } 100% { top: 0px; } }
@keyframes up { 0% { top:500px; } 100% { top: 0px; } }
