.text-border {
  text-shadow: 1px 0 0 #f57e00, -1px 0 0 #f57e00, 0 1px 0 #f57e00, 0 -1px 0 #f57e00, 1px 1px #f57e00, -1px -1px 0 #f57e00, 1px -1px 0 #f57e00, -1px 1px 0 #f57e00;
}

.tabs {
  color: white !important;
  font-weight: bold;
  margin-left: 25px;
  border-bottom: 1px solid;
  width: 100px;
  text-align: center;
}

.tabs:hover {
  background: #ffbf34;
}